<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userDAO" class="com.ssh2test1.dao.UserDAOImp1">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="testDAO" class="com.ssh2test1.dao.TestDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userBiz" class="com.ssh2test1.biz.UserBizImp1">
		<property name="userDAO" ref="userDAO" />
	</bean>
	<bean id="testBiz" class="com.ssh2test1.biz.TestBizImpl">
		<property name="testDAO" ref="testDAO" />
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl">
		</property>
		<property name="username" value="wyj"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/hibtest1/entity/Users.hbm.xml</value>
				<value>com/hibtest1/entity/Question.hbm.xml</value>
				<value>com/hibtest1/entity/Test.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.Oracle10gDialect</prop>
			</props>
		</property>
	</bean>
	<bean id="umAction" class="com.ssh2test1.action.UserManagerAction">
		<property name="userBiz" ref="userBiz" />
	</bean>
	<bean id="user" class="com.ssh2test1.action.UserManagerAction">
		<property name="userBiz" ref="userBiz" />
	</bean>
	<bean id="state" class="com.ssh2test1.action.TestManageAction">
		<property name="testBiz">
			<ref bean="testBiz" />
		</property>
	</bean>

</beans>
	  